anywidget
astor
asttokens
backoff
blinker
charset-normalizer
click
colorama
comm
contourpy
cycler
dateutils
debugpy
decorator
duckdb
et_xmlfile
executing
Flask
Flask-Cors
fonttools
fqdn
gw_dsl_parser
idna
importlib_resources
ipykernel
ipylab
ipython
isoduration
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
kanaries_track
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
monotonic
mysql-connector-python
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pillow
pip
platformdirs
plotly
prompt_toolkit
psutil
psygnal
pure_eval
Pygments
pygwalker
pyparsing
python-dateutil
pytz
pywin32
pyzmq
quickjs
segment-analytics-python
six
sqlglot
stack-data
tenacity
tornado
traitlets
tzdata
uri-template
urllib3
wasmtime
wcwidth
webcolors
Werkzeug
ipywidgets
typing-extensions
arrow
requests
appdirs
cachetools
